* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f8f9fa;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: #ffffff;

}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo h1 {
    font-size: 22px;
    font-weight: bold;
}

.logo p {
    font-size: 14px;
    color: gray;
}

.dot {
    width: 12px;
    height: 12px;
    background: #5bc0de;
    border-radius: 50%;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    font-size: 16px;
    color: black;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    margin-top: 120px;
    gap: 50px;
}

.profile img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    object-fit: cover;
}

.about {
    max-width: 500px;
    text-align: left;
}

.about h2 {
    font-size: 28px;
    font-weight: bold;
}

.about h3 {
    font-size: 20px;
    margin-top: 10px;
}

.about p {
    font-size: 22px;
    margin-top: 10px;
    line-height: 1.5;
    color: #555;
}

.buttons {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.btn {
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    display: inline-block;
    transition: 0.3s ease;
}

.green { background: #8bc34a; }
.orange { background: #ff9800; }
.blue { background: #03a9f4; }
.gray { background: #9e9e9e; }

.btn:hover {
    opacity: 0.8;
}
